<table  class="nhsuk-table__panel-with-heading-tab">
  <thead>
    <tr style="text-align: right;">
      <th>Organisation</th>
      <th>Open Repositories</th>
      <th>Stargazers</th>
      <th>Forks</th>
      <th>Open Issues</th>
      <th>Top License</th>
      <th>Top Language</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href='https://github.com/nhsconnect'>NHS Connect</a></td>
      <td>196</td>
      <td>318</td>
      <td>426</td>
      <td>709</td>
      <td>Apache License 2.0</td>
      <td>CSS</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhsuk'>NHS.UK</a></td>
      <td>184</td>
      <td>925</td>
      <td>450</td>
      <td>1268</td>
      <td>MIT License</td>
      <td>HTML</td>
    </tr>
    <tr>
      <td><a href='https://github.com/NHSDigital'>NHS Digital</a></td>
      <td>173</td>
      <td>452</td>
      <td>292</td>
      <td>1414</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/opensafely'>OpenSAFELY Studies</a></td>
      <td>141</td>
      <td>140</td>
      <td>85</td>
      <td>447</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/ebmdatalab'>University of Oxford - Evidence-Based Medicine Data Lab</a></td>
      <td>141</td>
      <td>226</td>
      <td>82</td>
      <td>694</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhsx'>NHSX</a></td>
      <td>98</td>
      <td>533</td>
      <td>287</td>
      <td>258</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nice-digital'>NICE Digital</a></td>
      <td>75</td>
      <td>48</td>
      <td>46</td>
      <td>201</td>
      <td>MIT License</td>
      <td>JavaScript</td>
    </tr>
    <tr>
      <td><a href='https://github.com/HFAnalyticsLab'>The Health Foundation Analytics Lab</a></td>
      <td>58</td>
      <td>191</td>
      <td>35</td>
      <td>15</td>
      <td>MIT License</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://github.com/publichealthengland'>Public Health England</a></td>
      <td>56</td>
      <td>611</td>
      <td>165</td>
      <td>270</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/opensafely-core'>OpenSAFELY Core</a></td>
      <td>51</td>
      <td>88</td>
      <td>49</td>
      <td>811</td>
      <td>Other</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhsengland'>NHS England</a></td>
      <td>39</td>
      <td>102</td>
      <td>105</td>
      <td>182</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhs-r-community'>NHS-R Community</a></td>
      <td>38</td>
      <td>452</td>
      <td>220</td>
      <td>128</td>
      <td>Other</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://gitlab.com/nhsbsa'>NHS Business Services Authority</a></td>
      <td>37</td>
      <td>13</td>
      <td>2</td>
      <td>1</td>
      <td>Apache License 2.0</td>
      <td>Java</td>
    </tr>
    <tr>
      <td><a href='https://github.com/NHSLeadership'>NHS Leadership Academy</a></td>
      <td>35</td>
      <td>81</td>
      <td>31</td>
      <td>238</td>
      <td>MIT License</td>
      <td>PHP</td>
    </tr>
    <tr>
      <td><a href='https://github.com/CDU-data-science-team'>Nottinghamshire Healthcare NHS Foundation Trust - CDU Data Science Team</a></td>
      <td>35</td>
      <td>56</td>
      <td>25</td>
      <td>103</td>
      <td>Other</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://github.com/BHFDSC'>BHF Data Science Centre</a></td>
      <td>26</td>
      <td>51</td>
      <td>10</td>
      <td>0</td>
      <td>Apache License 2.0</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhs-bnssg-analytics'>NHS BNSSG Analytics</a></td>
      <td>24</td>
      <td>70</td>
      <td>20</td>
      <td>7</td>
      <td>Other</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://github.com/The-Strategy-Unit'>NHS Midlands and Lancashire CSU - The Strategy Unit</a></td>
      <td>20</td>
      <td>22</td>
      <td>14</td>
      <td>4</td>
      <td>Other</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhs-pycom'>NHS Python Community for Healthcare</a></td>
      <td>13</td>
      <td>74</td>
      <td>21</td>
      <td>32</td>
      <td>MIT License</td>
      <td>Jupyter Notebook</td>
    </tr>
    <tr>
      <td><a href='https://github.com/111Online'>NHS 111 Online - NHS Digital</a></td>
      <td>13</td>
      <td>10</td>
      <td>13</td>
      <td>60</td>
      <td>Apache License 2.0</td>
      <td>C#</td>
    </tr>
  </tbody>
</table>