<table  class="nhsuk-table__panel-with-heading-tab">
  <thead>
    <tr style="text-align: right;">
      <th>Organisation</th>
      <th>Open Repositories</th>
      <th>Stargazers</th>
      <th>Forks</th>
      <th>Open Issues</th>
      <th>Top License</th>
      <th>Top Language</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href='https://github.com/nhsconnect'>NHS Connect</a></td>
      <td>184</td>
      <td>257</td>
      <td>387</td>
      <td>522</td>
      <td>Apache License 2.0</td>
      <td>CSS</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhsuk'>NHS.UK</a></td>
      <td>168</td>
      <td>819</td>
      <td>402</td>
      <td>1038</td>
      <td>MIT License</td>
      <td>HTML</td>
    </tr>
    <tr>
      <td><a href='https://github.com/ebmdatalab'>University of Oxford - Evidence-Based Medicine Data Lab</a></td>
      <td>126</td>
      <td>185</td>
      <td>73</td>
      <td>587</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/NHSDigital'>NHS Digital</a></td>
      <td>93</td>
      <td>125</td>
      <td>170</td>
      <td>518</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/publichealthengland'>Public Health England</a></td>
      <td>64</td>
      <td>358</td>
      <td>168</td>
      <td>187</td>
      <td>MIT License</td>
      <td>Ruby</td>
    </tr>
    <tr>
      <td><a href='https://github.com/opensafely'>OpenSAFELY Studies</a></td>
      <td>51</td>
      <td>67</td>
      <td>28</td>
      <td>202</td>
      <td>MIT License</td>
      <td>Stata</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhsx'>NHSX</a></td>
      <td>46</td>
      <td>268</td>
      <td>154</td>
      <td>93</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/HFAnalyticsLab'>The Health Foundation Analytics Lab</a></td>
      <td>38</td>
      <td>150</td>
      <td>23</td>
      <td>15</td>
      <td>MIT License</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://github.com/opensafely-core'>OpenSAFELY Core</a></td>
      <td>36</td>
      <td>59</td>
      <td>24</td>
      <td>415</td>
      <td>Other</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhsengland'>NHS England</a></td>
      <td>29</td>
      <td>19</td>
      <td>65</td>
      <td>77</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/CDU-data-science-team'>Nottinghamshire Healthcare NHS Foundation Trust - CDU Data Science Team</a></td>
      <td>27</td>
      <td>20</td>
      <td>9</td>
      <td>129</td>
      <td>Other</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhs-r-community'>NHS-R Community</a></td>
      <td>21</td>
      <td>182</td>
      <td>92</td>
      <td>50</td>
      <td>Other</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhs-bnssg-analytics'>NHS BNSSG Analytics</a></td>
      <td>16</td>
      <td>40</td>
      <td>13</td>
      <td>2</td>
      <td>Other</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://gitlab.com/nhsbsa'>NHS Business Services Authority</a></td>
      <td>14</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>Apache License 2.0</td>
      <td>Java</td>
    </tr>
    <tr>
      <td><a href='https://github.com/111Online'>NHS 111 Online - NHS Digital</a></td>
      <td>13</td>
      <td>10</td>
      <td>13</td>
      <td>30</td>
      <td>Apache License 2.0</td>
      <td>C#</td>
    </tr>
    <tr>
      <td><a href='https://github.com/The-Strategy-Unit'>NHS Midlands and Lancashire CSU - The Strategy Unit</a></td>
      <td>12</td>
      <td>18</td>
      <td>6</td>
      <td>4</td>
      <td>Other</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhs-pycom'>NHS Python Community for Healthcare</a></td>
      <td>11</td>
      <td>33</td>
      <td>9</td>
      <td>2</td>
      <td>MIT License</td>
      <td>Jupyter Notebook</td>
    </tr>
  </tbody>
</table>