<table  class="nhsuk-table__panel-with-heading-tab">
  <thead>
    <tr style="text-align: right;">
      <th>Organisation</th>
      <th>Open Repositories</th>
      <th>Stargazers</th>
      <th>Forks</th>
      <th>Open Issues</th>
      <th>Top License</th>
      <th>Top Language</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href='https://github.com/NHSDigital'>NHS Digital</a></td>
      <td>447</td>
      <td>1100</td>
      <td>521</td>
      <td>2634</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/opensafely'>OpenSAFELY Studies</a></td>
      <td>297</td>
      <td>228</td>
      <td>113</td>
      <td>763</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhsconnect'>NHS Connect</a></td>
      <td>200</td>
      <td>381</td>
      <td>414</td>
      <td>1015</td>
      <td>Apache License 2.0</td>
      <td>CSS</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhsengland'>NHS England</a></td>
      <td>157</td>
      <td>405</td>
      <td>207</td>
      <td>371</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/ebmdatalab'>University of Oxford - Evidence-Based Medicine Data Lab</a></td>
      <td>155</td>
      <td>132</td>
      <td>60</td>
      <td>408</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://gitlab.com/nhsbsa'>NHS Business Services Authority</a></td>
      <td>138</td>
      <td>37</td>
      <td>40</td>
      <td>2</td>
      <td>Apache License 2.0</td>
      <td>Java</td>
    </tr>
    <tr>
      <td><a href='https://github.com/ukhsa-collaboration'>UK Health Security Agency</a></td>
      <td>104</td>
      <td>2639</td>
      <td>647</td>
      <td>320</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhsx'>NHSX</a></td>
      <td>103</td>
      <td>657</td>
      <td>341</td>
      <td>340</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/HFAnalyticsLab'>The Health Foundation Analytics Lab</a></td>
      <td>92</td>
      <td>243</td>
      <td>57</td>
      <td>21</td>
      <td>MIT License</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://github.com/The-Strategy-Unit'>NHS Midlands and Lancashire CSU - The Strategy Unit</a></td>
      <td>92</td>
      <td>161</td>
      <td>39</td>
      <td>405</td>
      <td>MIT License</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://github.com/BHFDSC'>BHF Data Science Centre</a></td>
      <td>90</td>
      <td>80</td>
      <td>26</td>
      <td>23</td>
      <td>Apache License 2.0</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nice-digital'>NICE Digital</a></td>
      <td>78</td>
      <td>74</td>
      <td>58</td>
      <td>203</td>
      <td>MIT License</td>
      <td>JavaScript</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhs-r-community'>NHS-R Community</a></td>
      <td>71</td>
      <td>771</td>
      <td>347</td>
      <td>279</td>
      <td>Creative Commons Zero v1.0 Universal</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://github.com/opensafely-core'>OpenSAFELY Core</a></td>
      <td>62</td>
      <td>129</td>
      <td>67</td>
      <td>1030</td>
      <td>Other</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhs-bnssg-analytics'>NHS BNSSG Analytics</a></td>
      <td>44</td>
      <td>126</td>
      <td>32</td>
      <td>53</td>
      <td>GNU General Public License v3.0</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://github.com/GIG-Cymru-NHS-Wales'>GIG Cymru - NHS Wales</a></td>
      <td>44</td>
      <td>53</td>
      <td>8</td>
      <td>38</td>
      <td>MIT License</td>
      <td>Rust</td>
    </tr>
    <tr>
      <td><a href='https://github.com/Birmingham-and-Solihull-ICS'>Birmingham and Solihull ICS</a></td>
      <td>33</td>
      <td>31</td>
      <td>30</td>
      <td>46</td>
      <td>Other</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://github.com/ncl-icb-analytics'>North Central London ICB</a></td>
      <td>32</td>
      <td>16</td>
      <td>4</td>
      <td>15</td>
      <td>Other</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/CDU-data-science-team'>Nottinghamshire Healthcare NHS Foundation Trust - CDU Data Science Team</a></td>
      <td>32</td>
      <td>40</td>
      <td>14</td>
      <td>74</td>
      <td>Other</td>
      <td>R</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhsuk'>NHS.UK</a></td>
      <td>27</td>
      <td>958</td>
      <td>244</td>
      <td>1080</td>
      <td>MIT License</td>
      <td>HTML</td>
    </tr>
    <tr>
      <td><a href='https://github.com/NHSLeadership'>NHS Leadership Academy</a></td>
      <td>23</td>
      <td>92</td>
      <td>34</td>
      <td>222</td>
      <td>Other</td>
      <td>PHP</td>
    </tr>
    <tr>
      <td><a href='https://github.com/nhs-pycom'>NHS Python Community for Healthcare</a></td>
      <td>17</td>
      <td>184</td>
      <td>44</td>
      <td>55</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <td><a href='https://github.com/111Online'>NHS 111 Online - NHS Digital</a></td>
      <td>12</td>
      <td>4</td>
      <td>12</td>
      <td>49</td>
      <td>Apache License 2.0</td>
      <td>C#</td>
    </tr>
    <tr>
      <td><a href='https://github.com/NHSE-NDRS'>NHSE-NDRS</a></td>
      <td>7</td>
      <td>9</td>
      <td>1</td>
      <td>1</td>
      <td>MIT License</td>
      <td>R</td>
    </tr>
  </tbody>
</table>