<table border="1" class="dataframe summary">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Org</th>
      <th>Open Repos</th>
      <th>Total Size</th>
      <th>Stargazers</th>
      <th>Forks</th>
      <th>Open Issues</th>
      <th>Top License</th>
      <th>Top Language</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>111Online</td>
      <td>13</td>
      <td>522097</td>
      <td>10</td>
      <td>0</td>
      <td>26</td>
      <td>Apache License 2.0</td>
      <td>C#</td>
    </tr>
    <tr>
      <th>1</th>
      <td>NHSDigital</td>
      <td>83</td>
      <td>497099</td>
      <td>91</td>
      <td>74</td>
      <td>348</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <th>2</th>
      <td>nhsconnect</td>
      <td>178</td>
      <td>3193248</td>
      <td>243</td>
      <td>198</td>
      <td>406</td>
      <td>Apache License 2.0</td>
      <td>CSS</td>
    </tr>
    <tr>
      <th>3</th>
      <td>nhsengland</td>
      <td>23</td>
      <td>36298</td>
      <td>14</td>
      <td>38</td>
      <td>80</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <th>4</th>
      <td>nhsx</td>
      <td>32</td>
      <td>429216</td>
      <td>199</td>
      <td>85</td>
      <td>54</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
  </tbody>
</table>