<table border="1" class="dataframe summary">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>size</th>
      <th>stargazers_count</th>
      <th>forks_count</th>
      <th>open_issues_count</th>
      <th>license_name</th>
      <th>language</th>
    </tr>
    <tr>
      <th>owner_login</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>111Online</th>
      <td>13</td>
      <td>522097</td>
      <td>10</td>
      <td>0</td>
      <td>26</td>
      <td>Apache License 2.0</td>
      <td>C#</td>
    </tr>
    <tr>
      <th>NHSDigital</th>
      <td>83</td>
      <td>493475</td>
      <td>91</td>
      <td>74</td>
      <td>359</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <th>nhsconnect</th>
      <td>100</td>
      <td>1949493</td>
      <td>195</td>
      <td>150</td>
      <td>319</td>
      <td>Apache License 2.0</td>
      <td>CSS</td>
    </tr>
    <tr>
      <th>nhsengland</th>
      <td>23</td>
      <td>36298</td>
      <td>14</td>
      <td>38</td>
      <td>80</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <th>nhsx</th>
      <td>32</td>
      <td>428835</td>
      <td>197</td>
      <td>85</td>
      <td>51</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
  </tbody>
</table>