<table border="1" class="dataframe summary">
  <thead>
    <tr style="text-align: right;">
      <th>Org</th>
      <th>Open Repos</th>
      <th>Total Size</th>
      <th>Stargazers</th>
      <th>Forks</th>
      <th>Open Issues</th>
      <th>Top License</th>
      <th>Top Language</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>111Online</th>
      <td>13</td>
      <td>520454</td>
      <td>10</td>
      <td>0</td>
      <td>25</td>
      <td>Apache License 2.0</td>
      <td>C#</td>
    </tr>
    <tr>
      <th>NHSDigital</th>
      <td>79</td>
      <td>474111</td>
      <td>87</td>
      <td>69</td>
      <td>326</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <th>nhsconnect</th>
      <td>177</td>
      <td>3173655</td>
      <td>239</td>
      <td>197</td>
      <td>385</td>
      <td>Apache License 2.0</td>
      <td>CSS</td>
    </tr>
    <tr>
      <th>nhsengland</th>
      <td>23</td>
      <td>36119</td>
      <td>13</td>
      <td>38</td>
      <td>79</td>
      <td>MIT License</td>
      <td>Python</td>
    </tr>
    <tr>
      <th>nhsx</th>
      <td>42</td>
      <td>541270</td>
      <td>2384</td>
      <td>537</td>
      <td>82</td>
      <td>MIT License</td>
      <td>Kotlin</td>
    </tr>
  </tbody>
</table>