<table  class="nhsuk-table__panel-with-heading-tab">
  <thead>
    <tr style="text-align: right;">
      <th>nhs</th>
      <th>nhs-digital-publication</th>
      <th>reproducible-analytical-pipeline</th>
      <th>date</th>
      <th>Org</th>
      <th>Repo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2020-04-08</td>
      <td>HFAnalyticsLab</td>
      <td><a href=https://github.com/HFAnalyticsLab/COVID19_NHS111>COVID19_NHS111</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2020-04-22</td>
      <td>HFAnalyticsLab</td>
      <td><a href=https://github.com/HFAnalyticsLab/COVID19_ONS_mortality>COVID19_ONS_mortality</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2020-04-24</td>
      <td>HFAnalyticsLab</td>
      <td><a href=https://github.com/HFAnalyticsLab/COVID19_daily_GP>COVID19_daily_GP</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2019-11-18</td>
      <td>The-Strategy-Unit</td>
      <td><a href=https://github.com/The-Strategy-Unit/StrategyUnitTheme>StrategyUnitTheme</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2022-05-15</td>
      <td>nhs-pycom</td>
      <td><a href=https://github.com/nhs-pycom/coding-club>coding-club</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2022-01-19</td>
      <td>nhs-pycom</td>
      <td><a href=https://github.com/nhs-pycom/nhs-streamlit-template>nhs-streamlit-template</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2020-12-13</td>
      <td>nhs-pycom</td>
      <td><a href=https://github.com/nhs-pycom/nhs.pycom>nhs.pycom</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2022-07-28</td>
      <td>nhs-pycom</td>
      <td><a href=https://github.com/nhs-pycom/nhspy-plotthedots>nhspy-plotthedots</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2019-09-13</td>
      <td>nhs-r-community</td>
      <td><a href=https://github.com/nhs-r-community/Conference_2019>Conference_2019</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2021-02-08</td>
      <td>nhs-r-community</td>
      <td><a href=https://github.com/nhs-r-community/NHSRplotthedots>NHSRplotthedots</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2019-03-08</td>
      <td>nhs-r-community</td>
      <td><a href=https://github.com/nhs-r-community/NHSRtheme>NHSRtheme</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2023-04-23</td>
      <td>nhs-r-community</td>
      <td><a href=https://github.com/nhs-r-community/quarto-report-nhs-theme>quarto-report-nhs-theme</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2017-02-28</td>
      <td>nhsconnect</td>
      <td><a href=https://github.com/nhsconnect/FHIR-ADW-Messaging>FHIR-ADW-Messaging</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2017-03-09</td>
      <td>nhsconnect</td>
      <td><a href=https://github.com/nhsconnect/NHS-FHIR-DDS>NHS-FHIR-DDS</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2016-07-22</td>
      <td>nhsconnect</td>
      <td><a href=https://github.com/nhsconnect/gpconnect>gpconnect</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2020-09-01</td>
      <td>nhsconnect</td>
      <td><a href=https://github.com/nhsconnect/gpconnect-appointment-checker>gpconnect-appointment-checker</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2018-03-27</td>
      <td>nhsconnect</td>
      <td><a href=https://github.com/nhsconnect/gpconnect-demo-config>gpconnect-demo-config</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2016-04-26</td>
      <td>nhsconnect</td>
      <td><a href=https://github.com/nhsconnect/gpconnect-demonstrator>gpconnect-demonstrator</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2020-05-07</td>
      <td>nhsconnect</td>
      <td><a href=https://github.com/nhsconnect/gpconnect-emergency-codes>gpconnect-emergency-codes</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2016-07-29</td>
      <td>nhsconnect</td>
      <td><a href=https://github.com/nhsconnect/gpconnect-fhir>gpconnect-fhir</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2018-05-08</td>
      <td>nhsconnect</td>
      <td><a href=https://github.com/nhsconnect/gpconnect-messaging>gpconnect-messaging</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2018-12-20</td>
      <td>nhsconnect</td>
      <td><a href=https://github.com/nhsconnect/gpconnect-postman>gpconnect-postman</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2016-11-11</td>
      <td>nhsconnect</td>
      <td><a href=https://github.com/nhsconnect/gpconnect-provider-testing>gpconnect-provider-testing</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2018-03-11</td>
      <td>nhsconnect</td>
      <td><a href=https://github.com/nhsconnect/gpconnect-swagger>gpconnect-swagger</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2020-06-02</td>
      <td>nhsengland</td>
      <td><a href=https://github.com/nhsengland/it-standards>it-standards</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2023-06-28</td>
      <td>nhsengland</td>
      <td><a href=https://github.com/nhsengland/leaflet-geomaps-NHS>leaflet-geomaps-NHS</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2018-08-22</td>
      <td>nhsuk</td>
      <td><a href=https://github.com/nhsuk/nhsuk-frontend>nhsuk-frontend</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2018-12-18</td>
      <td>nhsuk</td>
      <td><a href=https://github.com/nhsuk/nhsuk-prototype-kit>nhsuk-prototype-kit</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2021-07-02</td>
      <td>nhsx</td>
      <td><a href=https://github.com/nhsx/digital-health-insights>digital-health-insights</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2021-05-08</td>
      <td>nhsx</td>
      <td><a href=https://github.com/nhsx/open-analytics-template>open-analytics-template</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2021-03-04</td>
      <td>nhsx</td>
      <td><a href=https://github.com/nhsx/open-health-statistics>open-health-statistics</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2020-02-28</td>
      <td>nice-digital</td>
      <td><a href=https://github.com/nice-digital/cks-gatsby>cks-gatsby</a></td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2022-07-21</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/absence-rates>absence-rates</a></td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2023-04-17</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/ldhc_publication>ldhc_publication</a></td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2023-06-29</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/mental-health-act-annual-statistics>mental-health-act-annual-statistics</a></td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2023-06-29</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/mental-health-bulletin>mental-health-bulletin</a></td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2023-06-29</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/mental-health-monthly-statistics>mental-health-monthly-statistics</a></td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2022-10-07</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/ncdes>ncdes</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>2019-12-16</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/codonPython>codonPython</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>2022-01-10</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/rap-community-of-practice>rap-community-of-practice</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>2022-01-26</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/rap-package-template>rap-package-template</a></td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2022-09-20</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/ASC-User-Survey>ASC-User-Survey</a></td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2023-03-14</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/NHS-Breast-Screening-Programme-Report-Code>NHS-Breast-Screening-Programme-Report-Code</a></td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2022-08-11</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/National-Child-Measurement-Programme-Provisional-Report-Code>National-Child-Measurement-Programme-Provisional-Report-Code</a></td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2022-12-12</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/National-Child-Measurement-Programme-Report-Code>National-Child-Measurement-Programme-Report-Code</a></td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2023-06-14</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/Sexual-Reproductive-Health-Services-Report-Code>Sexual-Reproductive-Health-Services-Report-Code</a></td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2022-08-26</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/Smoking-Drinking-and-Drug-Use-Report-Code>Smoking-Drinking-and-Drug-Use-Report-Code</a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2021-09-02</td>
      <td>NHSDigital</td>
      <td><a href=https://github.com/NHSDigital/data-analytics-services>data-analytics-services</a></td>
    </tr>
  </tbody>
</table>